.matchGame__outerCardContainer {
  /* object-fit: contain; */
  display: flex;
  justify-content: center;
  margin-top: 5vh;

  /* display: flex;
  align-items: center;
  justify-content: center; */

  /* display: flex;
  justify-content: center;
  border-bottom: 1px solid #f9f9f9;
  align-items: center; */
}

.matchGame__innerCardContainer {
  /* object-fit: contain; */
  display: flex;
  justify-content: center;
  margin-top: 5vh;
}

.swipe {
  /* position: absolute; */
}

matchgame__match {
  display: flex;
  flex-direction: column;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: "absolute";
  width: 400;
  /* backgroundColor: theme.palette.background.paper, */
  /* border: "2px solid #000"; */
  /* boxShadow: theme.shadows[5]; */
  /* padding: theme.spacing(2, 4, 3) */
}

ion-input{
  font-size: 10px;
  --background-focused: black;
  --color-selected: black;
  --color: rgb(78, 78, 78);
  --background: black;
  // --padding-end: 0px;
  // --padding-start: 10px;
  // --padding-bottom: 0px;
  // --margin-left:0px;
  // --margin-right:0px;
  // max-width:100px;
}

// input:-webkit-autofill {
//     -webkit-text-fill-color: transparent;
//     transition: background-color 5000s ease-in-out 0s;
//   }

/*Change text in autofill textbox*/
// input:-webkit-autofill
// {
//  -webkit-text-fill-color: rgb(0, 0, 0) !important;
// }

.profile__input {
  // text-align: center;
  background-color: black;
  color:black

}

