.background__transparent {
    text-align: center;
    padding: 20px;
    color: grey;
    background: transparent !important
  }

  .background__transparent {
    box-shadow:none !important
  }

  .button {
    color: black
}